##############################
## Folders                  ##
##############################
target
.settings
.gradle
.bin
##############################
## Netbeans conf            ##
##############################
