##############################
## Folders                  ##
##############################
target
.settings
.gradle
##############################
## Netbeans conf            ##
##############################
